body{
    background-color: rgb(160, 210, 212);
    margin:0;
    background-image:url(deets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar {
    background-color: rgba(0, 57, 45, 0.911);
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar2 {
    background-color: rgba(110, 113, 113, 0.911);
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navdiv{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.navdiv2{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: right;
}
.navbar2 a{
    color:white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: right;
    margin-right:10px;
    margin-left:10px;
}
.navbar li:hover{
    border-radius: 5px;
    background-color:rgb(17, 168, 113);

}
.navbar2 li:hover{
    border-radius: 5px;
    background-color: rgba(63, 63, 63, 0.911);
}
.logo ul {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-right:20px;
}
.navbar2 li{
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top-left .logo a{
    font-size:25px; 
    font-weight: 500; 
    color: rgb(255, 255, 255);
}
.top-left {
        width:50px;
        margin-left: 30px;
        display:flex;
}
button{
    background-color: rgb(75, 228, 146);
    border-radius: 5px;
    transition: .0s ease;
}
button:hover{
    background-color:rgb(14, 178, 6);
}
button a{
color: white;
font-weight: Bold;
font-size: 15px;
}
.deets{
    height:70px;
    padding:0;
    margin-top:0;
    display:flex
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(255, 255, 255);
    margin-top:40px;
    text-align:center;
}
.details
{
    background-color: rgba(70, 71, 73, 0.838);
    margin:0;
    width: 5000px;
}
.pinfolabel{
    padding:5px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 15px;
    margin-left: 15px;
}
.divider{
    border-top: 2px solid black;
    width:90%;
    padding: 5px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.card-container-container{
    display:flex;
    max-height: 4000px;
    min-height: 650px;
    background-color: rgba(196, 201, 169, 0.674);
    justify-content: center;
}
.card-container1 {
    gap: 5px;
    justify-content: space-between;
}
.card1 {
    width: 600px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(92, 92, 92);
    overflow: hidden;
    margin-right: 60px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.card2 {
    width: 600px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(92, 92, 92);
    overflow: hidden;
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 50px;
}
.card1 input[type="checkbox"] {
    display: none;
}
.card2 input[type="checkbox"] {
    display: none;
}
.card1 label {
    display: block;
    background-color: #4e4848;
    padding: 50px;
    padding-bottom:20px;
    cursor: pointer;
}
.card2 label {
    display: block;
    background-color: #4e4848;
    padding: 50px;
    padding-bottom:20px;
    cursor: pointer;
}
.card1 .content1 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.card2 .content2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.card1 input[type="checkbox"]:checked ~ .content1 {
    max-height: 600px; /* Adjust based on content */
}
.card2 input[type="checkbox"]:checked ~ .content2 {
    max-height: 600px; /* Adjust based on content */
}
.content1{
    margin-left: 7px;
    margin-right:7px;
}
.content2{
    margin-left:7px;
    margin-right:7px;
}
.image1 {
    width: 480px;
    height: 280px;
    display: block;
    margin-top:10px;
    margin-bottom: -40px;
    margin-left: auto;
    margin-right: auto;
}
.image2 {
    width: 480px;
    height: 280px;
    display: block;
    margin-top:10px;
    margin-bottom: -40px;
    margin-left: auto;
    margin-right: auto;
}
.imgcard1{
    width: 150px;
    height: 150px;
    display: block;
    margin-top:30px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
}
.name{
    font-size: 20px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:white;
    font-weight: bold;
}
.imgcard1{
    width: 480px;
    height: 350px;
    display: block;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.imgcard2{
    width: 480px;
    height: 350px;
    display: block;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}