.background
{
width: 100%;
height: 100vh;
background-image:url(hcrbg.jpg);
background-size:cover;
background-position: center;
}
.navbar {
    background-color: rgba(1, 222, 222, 0.911);
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navdiv{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: right;
}
.navbar li:hover{
    border-radius: 5px;
    background-color:rgb(0, 162, 255);

}
.logo ul {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo
{
    margin-left: 20px;
    font-size: 2rem;
}
.top-left .logo a{
    font-size:25px; 
    font-weight: 500; 
    color: rgb(255, 255, 255);
}
.top-left {
        width:50px;
        margin-left: 30px;
        display:flex;
}
button{
    background-color: rgb(75, 228, 146);
    border-radius: 5px;
    transition: .0s ease;
}
button:hover{
    background-color:rgb(14, 178, 6);
}
button a{
color: white;
font-weight: Bold;
font-size: 15px;
}

body{
   margin: 0px;
   padding: 0px;
}

.content{
    width: 1200px;
    height: 480px;
    position: absolute;
    background:rgb(225, 216, 216,0.9);
    top: 250px;
    right: 200px;
    border:4px solid rgba(164, 157, 157, 0.8);
}
.wrapper{
    position: absolute;
    top:120px;
    right:100px;  
}
    .wrapper img{
        width:450px;
        height:650px;
        border-radius: 300px;
        border: 3px solid white;
    }
.text h1{
    color:rgb(16, 16, 16);
    margin-top:30px;
    margin-left: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}
.text p{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 90px;
    margin-right: 370px;
    letter-spacing: 2px;
    line-height: 40px;
}
